<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Public/css/Todo.css">
    <!-- links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css">
</head>
<body>
    <div class="holder d-flex align-items-center justify-content-center">
    
        <div class="container">
            <!-- FOR DEMO PURPOSE -->
            <header class="text-center mb-5">
                <h1 class="display-4">Todo check list</h1>
            </header>
    
            
            <div class="row">
                <div class="col-lg-5 mx-auto">
    
                    <!-- CHECKBOX LIST -->

                    <div class="card rounded border-1 shadow-sm position-relative">
                        <div class="card-body p-5">
                            <div class="d-flex align-items-center mb-4 pb-4 border-bottom"><i class="far fa-calendar-alt fa-3x"></i>
                                <div class="ms-3">
                                    <h4 class="text-uppercase fw-weight-bold mb-0">Wednesday</h4>
                                    <p class="text-gray fst-italic mb-0">05 December 2023</p>
                                </div>
                            </div>
                            <form action="/savedata" method="post">
                                <input type="text" name="name" id="name" value="<%= (editdata.id != '')?editdata.task:'' %>">  
                               <input type="hidden" name="id" id="id" value="<%=(editdata.id != '')?editdata.id:'' %>">
                            <input type="submit" value="Submit">
                                <br>
                                <br>
                        <%tasks.forEach((i)=>{%>
                            <div class="form-check mb-3  d-flex justify-content-between">
                                <input class="form-check-input" id="flexCheck1" type="checkbox">
                                <label class="form-check-label" for="flexCheck1"><span class="fst-italic pl-1"><%=i.task%></span></label>
                               <a href="/del/<%=i.id%>" class="btn btn-danger">Delete</a>  
                               <a href="/edit/<%=i.id%>" class="btn btn-success">Edit</a>  
                            </div>
                            <%})%>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>