<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <br>
    <br>
    <br>
    <%let a = ''%>
    <% for(let i in editdata){ %>
        <% a = editdata[i] %>
        <%} %>
    <form action="/savedata" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <input type="hidden" name="id" value="<%= a._id  %>">

            <label for="exampleFormControlInput1" class="form-label">Movie Name:</label>
            <input type="text" class="form-control-sm" id="exampleFormControlInput1" name="name"
                value="<%= a.Name %>">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"> Movie Date:</label>
            <input type="date" name="date" value="<%= a.Release_Date %>">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"> No. of charactors:</label>
            <input type="number" name="charactor" value="<%= a.NoOf_MainCharacters %>">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Image of Poster</label>
            <input type="file" name="image">
        </div>

        <input type="submit" value="Submit">
    </form>

    <br>
    <br>
    <br>
    <br>
    <br>

    <table border="2" class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Movie Name</th>
                <th scope="col">Movie Date</th>
                <th scope="col">No. of charactors</th>
                <th scope="col">Image of Poster</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <% for(let i in data){ %>
            <tr>
             <td><%= data[i].Name %></td>
             <td><%= data[i].Release_Date %></td>
             <td><%= data[i].NoOf_MainCharacters %></td>
                <td><img src="../<%= data[i].PosterImage%>" alt="User image" height="50px" width="50px" /></td>

                <td><a href="/del/<%=data[i]._id%>"><button type="button" class="btn btn-danger">Delete</button></a>
                    <a href="/edit/<%=data[i]._id%>"><button type="button" class="btn btn-warning">Edit</button></a>
                </td>
            </tr>
            <%}%>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
</body>

</html>