<%- include('./Partials/header') %>
  <%- include('./Partials/navbar') %>
    <%- include('./Partials/sidebar',{username:username}) %>

      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Form</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Product Form</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->


                  <form action="<% if (data) { %>/updatesubcat/<%= data._id %><% } else { %>/admin/productform<% } %>"
                    method="post" name="frm">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Category Name</label>
                        <select name="cat_id">
                          <option value="">Select Category</option>
                          <% cat.forEach((i)=>{%>
                            <%var selected=(data && i._id.toString()==data.cat_id.toString())?'selected':''%>
                              <option value="<%= i._id %>" <%=selected %>>
                                <%=i.name%>
                              </option>
                              <%})%>

                        </select>

                        <label for="exampleInputEmail1">Subcategory Name</label>
                        <select name="sub_id">
                          <option value="">Select Category</option>
                          <% sub_cat.forEach((i)=>{%>
                            <%var selected=(data && i._id.toString()==data.sub_id.toString())?'selected':''%>
                              <option value="<%= i._id %>" <%=selected %>>
                                <%=i.name%>
                              </option>
                              <%})%>

                        </select>

                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Product Name</label>
                        <input type="text" name="name" class="form-control">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Product Price</label>
                        <input type="text" name="price" class="form-control">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Image</label>
                        <input type="file" name="image" class="form-control" multiple>
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <% if(message){%>
                      <div class="card-header bg-danger" role="alert">
                        <%=message%>
                      </div>
                      <%}%>
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                  </form>
                </div>
                <!-- /.card -->


              </div>
              <% if(getAllprod){%>
                <div class="col-md-6">
                  <div class="card card-primary">

                    <table class="table-dark ">
                      <div class="card-header row">
                        <div class="col-md-6">
                          <label for="exampleInputEmail1">Filter With Category</label>
                          <select id="dropdown" name="table">
                            <option id="dropdownMenuButton" class="btn btn-secondary dropdown dropdown-toggle" value="">
                              Select Category</option>
                            <% cat.forEach((i)=>{%>
                              <!-- var selected = (data && i._id.toString() == data.)?'selected':'' -->
                              <option value="<%= i._id %>">
                                <%=i.name%>
                              </option>
                              <%})%>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <input class="form-control form-control-navbar" type="search" placeholder="Search" id="search"
                            aria-label="Search">
                        </div>
                      </div>
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Product</th>
                          <th scope="col">Category</th>
                          <th scope="col">Subcategory</th>
                          <th scope="col">Price</th>
                          <th scope="col">Image</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody class="table">
                        <!-- getAll is for subcategory -->
                        <%getAllprod.forEach((item,id)=>{%>
                          <tr>

                            <th scope="row">
                              <%=id+1%>
                            </th>
                            <td>
                              <%= item.name%>
                            </td>
                            <td>
                              <%= item.cat_id.name%>
                            </td>
                            <td>
                              <%= item.sub_id.name%>
                            </td>
                            <td>
                              <%= item.price%>
                            </td>
                            <td>
                              <%= item.image%>
                            </td>

                            <td> <a href="/showsubcat/<%=item._id%>" class="bg-primary p-2"
                                style="--bs-bg-opacity: .5;">Edit</a> <a href="/deletesubcat/<%=item._id%>"
                                class="bg-danger p-2" style="--bs-bg-opacity: .5;">Delete</a> </td>

                          </tr>
                          <%})%>

                      </tbody>
                    </table>
                    <%}%>
                  </div>
                </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- /.content -->
      </div>
      <%- include('./Partials/footer') %>
        <script src="../script.js"></script>